
.container{
    background-color: rgb(228, 246, 240);
    height: 400px;
    width: 400px;
    margin: auto;
}
.header{
    text-align: center;
    background-color: rgb(39, 39, 152);
     height:70px;
     color: white;
 
}
input{
  /* height: 12px;
    text-align: center; */
    margin: 10px 0 10px 10px;

}
.btn1{
    background-color: rgb(38, 255, 0);
    margin: 10px 0 10px 10px;
    font-size: 16px;
    padding:9px 16px;

}